
<p>Add an author to the database:</p>

<form action="/authors" method="post">
  <label for="name">Author's name:</label>
  <input id="name" name="name" type="text" required>

  <button type="submit">Add author</button>
</form>



<form action="/author/search" method="post">
  <label for="search">Search for an author by name:</label>
  <input id="search" name="search" type="text" required>

  <button type="submit">Submit</button>
</form>
