
<p>Add a book to the database:</p>

<form action="/books" method="post">
  <label for="title">Book's title:</label>
  <input id="title" name="title" type="text" required>

  <button type="submit">Add book</button>
</form>



<form action="/book/search" method="post">
  <label for="search">Search for a book by title:</label>
  <input id="search" name="search" type="text" required>

  <button type="submit">Submit</button>

<p><a href="/">Return to Main Page</a></p>
